alembic==0.8.5
falcon==0.3.0
gunicorn==19.4.5
hug==2.0.6
Mako==1.0.4
MarkupSafe==0.23
marshmallow==2.6.1
PyJWT==1.4.0
PyMySQL==0.7.2
python-editor==1.0
python-mimeparse==1.5.1
requests==2.9.1
six==1.10.0
SQLAlchemy==1.0.12
